/*Left*/
.footer__bottom{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 13px;
}

.footer__bottom-left{
	padding-left: 37px;
	padding-top: 41px;
}


.footer__bottom-svg{
	margin-left: 15px;
	margin-right: 15px;
}

.footer__bottom-svg-5{
	position: relative;
	top: 4px;
}
.footer__bottom-svg-6{
	position: relative;
	top: -2px;
}
.footer__bottom-svg-7{
	position: relative;
	top: 3px;
}
.footer__bottom-svg-8{
	position: relative;
	top: 2px;
}
 /*Middle*/
.footer__bottom-middle{
	color: #B3B3B3;
	font-size: 14px;
	padding-top: 52px;
	padding-left: 40%;
}


 /*Right*/
 .footer__bottom-right{
	color: #B3B3B3;
	font-size: 14px;
	padding-top: 52px;
	padding-left: 40%;
}
