.contact__left{
	margin-left: 60px;
}

.top-content .title{
	max-width: 348px;
	font-weight: 700;
	font-size: 36px;
	margin-top: 111px;
}

.top-content .subtitle{
	margin-top: 20px;

}


.bottom-content .list-span{
	padding-left: 13px;
	font-size: 18px;
}

.bottom-content .fa{
	width: 13px;
	height: 13px;
}

.bottom-content .list__item:nth-child(1){
	margin-top: 146px;
	margin-bottom: 35px;
}
