<div class="contact__right">
	<p class="contact__title">Services needed</p>
	<div class="contact__form">
		<form action="#" method="GET">
		  <div class="btn contact__btn">
			  <div class="form_radio_btn">
				  <input id="radio-1" type="radio" name="radio" value="1" checked>
				  <label for="radio-1">Product Strategy</label>
			  </div>
			   
			  <div class="form_radio_btn">
				  <input id="radio-2" type="radio" name="radio" value="2">
				  <label for="radio-2">Interface Design</label>
			  </div>
			   
			  <div class="form_radio_btn">
				  <input id="radio-3" type="radio" name="radio" value="3">
				  <label for="radio-3">Web Dev.</label>
			  </div>
			   
			  <div class="form_radio_btn">
				  <input id="radio-4" type="radio" name="radio" value="4">
				  <label for="radio-4">iOS Dev.</label>
			  </div>
	  
			  <div class="form_radio_btn">
				  <input id="radio-5" type="radio" name="radio" value="5" checked>
				  <label for="radio-5">Android Dev.</label>
			  </div>
	  
			  <div class="form_radio_btn">
				  <input id="radio-6" type="radio" name="radio" value="6">
				  <label for="radio-6">Game Dev.</label>
			  </div>
	  
			  <div class="form_radio_btn">
				  <input id="radio-7" type="radio" name="radio" value="7">
				  <label for="radio-7">IT Consulting</label>
			  </div>
	  
			  <div class="form_radio_btn">
				  <input id="radio-8" type="radio" name="radio" value="8">
				  <label for="radio-8">Marketing</label>
			  </div>
		  </div>
		<div class="form-group form-name">
		  <input type="text" class="form-control" id="InputName" placeholder="Your Name" required>
		</div>
		<div class="form-group form-email">
		  <input type="text" class="form-control" id="InputEmail" aria-describedby="emailHelp"  placeholder="Email" required>
		</div>
		<div class="form-group form-massage">
			<input type="text" class="form-control" id="InputMassage" placeholder="Massage">
		  </div>
		<div class="form-check">
		  <input type="checkbox" class="form-check-input" id="exampleCheck1">
		  <label class="form-check-label" for="exampleCheck1">Send me NDA</label>
		</div>
		<button type="submit" class="btn btn-primary">Send</button>
	  </form>
	</div>
</div>